TME.X/dist/
TME.X/build/
TME.X/nbproject/Makefile-*
*.*#*
TME.X/nbproject/Package-*
TME.X/nbproject/private/
COSMOS/Vendor/
COSMOS/TME/outputs/tmp/
COSMOS/TME/outputs/logs/
COSMOS/TME/outputs/saved_config/
